.container-especialidades{
    background-color:#120452;
    
}
.content-boxes {
    padding: 50px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  
}
.title-especialidades{
   color: #D6C015;
   text-align: center;
   padding-top: 50px;
   font-size: 32px;
}


