/* CONTENTS */
.menu-container {
    background: #0B003D;
    width: 100%;
}
.menu-content {
    max-width: 1100px;
    padding: 15px 15px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.name{
    color: white;
    letter-spacing: 4px;
    font-size: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;

}
.menu-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-nav ul li .spacing{
    padding-right: 25px;

}
.menu-nav ul li .link {
    color: #D1CCDA;
    font-size: 16px;
}
.menu-nav ul li .link:hover {
    color: #D6C015;
    transition: 0.4s;
}
.menu-mobile img {
    display: none;
    cursor: pointer;
}

@media (max-width: 850px){
    .menu-nav ul {
        display: none;
    }

    .name {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .menu-mobile img {
        display: block;
        animation: opacidade 1.5s ease-in-out;
    }
    .active {
        height: 400px;
    }

}

/* NAV MOBILE*/
.nav-mobile-content {
    display: none;
}
@media (max-width: 850px){ 
    .nav-mobile-content {
        background: #0f0247;
        height: 92vh;
        display: flex;
        justify-content: center;
        font-size: 24px;
    }

    .nav-mobile-content ul {
        margin-top: 18%;

    }
    .nav-mobile-content ul li {
        margin-top: 5rem;
    }
    ul li a {
        color: #D1CCDA;
        animation: moveOpacity 0.8s ease-in;
    }
    @keyframes moveOpacity {
        0%   {
            opacity: 0.2;
        }
        25%   {
            opacity: 0.4;
        }
        50%   {
            opacity: 0.6;
        }
        75%   {
            opacity: 0.8;
        }
        100%  {
            opacity: 1;
        }
      }
}
